{% extends 'base.html' %}


    {% block body %}
    <style>
        input{
        background-color: #2f516f;
        border:none;
    }
    input:focus{
        background-color:rgb(255, 153, 0);
    
    }
        </style>
        {% load static %}
        <form action="{% url 'savegrp' stockgrpi.id %}" method="POST">
            {% csrf_token %}
        <div class="col-sm-12" >
          
            <div class="row"> 
             
                <div class="col-sm-3">
                    <label>Name</label><br>
                    
                    <label>alias</label><br>
                    
                    <label>Under</label><br>
                    
                    <label>Should quantites of items be added</label><br>
                    
                    <label>Set/Alter quantites GST Details</label>
                </div>
               
          
               
                <div class="col-sm-6">
                  
                    :<input    name="name" type="text" value={{stockgrpi.name}}><br>
                    :<input name="alias" type="text"  value={{stockgrpi.alias}}><br>
                    
                    :<input  list="under" name="under" placeholder="" onkeyup="myFunction()" value="{{stockgrpi.under}}" >
                    <datalist id="under">
          
                      
                       <ul id="myUL">
                           
                              
                          <select >
                      
                           {% for st in stockgrp %}
                           <option > 
                         <li >{{  st.name }}</li></option>
                         {% endfor %}    
                         <option> <li>Primary</li></option>
                       <a role="button" href="{% url 'creategrp' %}"><button></button>Create</button></a>
                        
                       </select>
                       
                       </ul>      
                       
                    </datalist>  <br>


                    :<input list="qty" name="qty" placeholder="" onkeyup="myFunction()" value="{{stockgrpi.quanty}}" >
                    <datalist id="qty">
          
                      
                       <ul id="myUL">
                           
                              
                          <select >
                      
                           
                           <option > 
                         <li >Yes</li></option>
                         <option > 
                            <li >No</li></option>
                            
                       
                       </select>
                       
                       </ul>      
                       
                    </datalist>  <br>
                       
                      
                       
                   
                        

                     
        
          
                      
                    

                    :<input list="gst" name="gst" placeholder="" onkeyup="myFunction()" value="{{stockgrpi.gstvalue}}" >
                    <datalist id="gst">
          
                      
                       <ul id="myUL">
                           
                              
                          <select >
                      
                          
                           <option > 
                         <li >Yes</li></option>
                         <option > 
                            <li >No</li></option>
                             
                       
                       </select>
                       
                       </ul>      
                       
                    </datalist>  <br>
     

                  
               
                        </div>
         
         


           
            <div class="col-sm-4" style="text-align:center;">
                <input type="submit" value="Save">
            </div>


</div>





</form>



        {% endblock %}